@model Schronisko.Models.Animal

@{
    ViewData["Title"] = "@model.Name";
}

@*<article>
    <h1 class="oswald text-primary text-center">@Model.Status</h1>
</article>*@
<div class="row">
    <section class="col-lg-3 mt-3">
        <div class="row">
            <!--imię zwierzaka oraz data dodania-->
            <div class="col-6 col-lg-12">
                <h6><i class="bi bi-arrow-right-circle-fill me-1">Imię: </i><span class="text-successfw-bold"> @Model.Name </span></h6>
                <h6><i class="bi bi-calendar-event me-1">W schronisku od:</i>@Model.AddedDate.ToString("dd MMMM yyyy")</h6>
             @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                }
                else
                {
                    <!-- Przycisk "Formularz adopcyjny" widoczny dla wszystkich -->
                   <a href="@Url.Action("Create", "AdoptionForms", new { AnimalId = Model.AnimalID, CurrentUserName = User.Identity.Name })" >Formularz adopcyjny</a>
                }
            </div>
        </div>
    </section>
    <!--Zdjęcie i treść-->
    <section class="col-lg-9">
    <h1>@Model.Status</h1>
        @{
            if (!String.IsNullOrEmpty(Model.Photo))
            {
            <img class="img-fluid mt-3" src="~/graphic/Animals/@Model.Photo">
            }
            else
            {
            <hr />
            }
        }
        <hr />
            @Html.Raw(Model.Description)
        <hr />
    </section>
</div>

@*<div>
    <dl class="row">
        <dt class = "col-sm-2 interspace">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dostepnosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dostepnosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
    </dl>
</div>*@
<div>
    <a asp-action="List" class="btn btn-light"> Powrót</a>
</div>
@*    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.AnimalID">Edycja</a> |*@