@*@model Schronisko.Models.ResponseUserForm*@
@using Schronisko.Models
@model dynamic

@{
    ViewData["Title"] = "Create";
}

@{
    var userForm = (UserForm)ViewBag.userForm;
}

<h1>Zapraszamy do wypełnienia ankiety.</h1>


    <h4>@userForm.Title</h4>
    <hr />

<div class="row">
    <div class="col-sm-2 col-md-6 col-lg-12 interspace">
    
            @foreach (var item in userForm.Questions.OrderBy(q => q.QuestionOrder))
            {
                    <p class="fw-bold">@item.QuestionText</p>
                    @*<td>@item.QuestionText</td>*@
    
                        @if (item.QuestionType.Name == "Tak / Nie" || item.QuestionType.Name == "Tak/Nie" || item.QuestionType.Name     == "Wybierz jedną opcję")
                        {
                            foreach (var option in item.Options.OrderBy(o => o.OptionOrder))
                            {
                                @*@Html.RadioButton(@item.UserFormQuestionID.ToString(), @option.UserFormQuestionOptionID, new    { @style =     "marginleft:5px;",id=@option.UserFormQuestionOptionID })
                                @Html.Label(@option.UserFormQuestionOptionID.ToString(), @option.OptionText)*@

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name=@item.UserFormQuestionID id=@option.UserFormQuestionOptionID />
                                  <label class="form-check-label" for=@option.UserFormQuestionOptionID>
                                    @option.OptionText
                                  </label>
                                </div>
                            }
                            <br />
                        }
                        else if (item.QuestionType.Name == "Wybierz wiele opcji")
                        {
                            foreach (var option in item.Options.OrderBy(o => o.OptionOrder))
                            {
                             @*       <label style="margin-left: 5px;">
                                    <input type="checkbox" name="dropdown-group" id=@option.UserFormQuestionOptionID    value=@option.OptionText />
                                    @option.OptionText
                                    </label>*@

                                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="@item.UserFormQuestionID" id=@option.UserFormQuestionOptionID value=@option.OptionText />
                    <label class="form-check-label" for=@option.UserFormQuestionOptionID>
                        @option.OptionText
                                  </label>
                                </div>
                            }
            <br />
                        }
            }


    <div class="text-end">
        <input style="margin: 15px;" type="submit" value="Wyślij" onclick="send()" class="btn btn-success" />
    </div>
    </div>
</div>

<script type="text/javascript">
    let postData = {};
    function send() {
        var checkbox = document.querySelectorAll('input[type="checkbox"]');
        var radio = document.querySelectorAll('input[type="radio"]');
        let a = Array.from(checkbox);
        let b = Array.from(radio);
        a = a.filter((x) => x.checked);
        b = b.filter((x) => x.checked);
        let ids = [].concat(a.map(x => x.id), b.map(x => x.id));
        let values = [].concat(a.map(x => x.value), b.map(x => x.value));
        postData.ids = ids;
        postData.values = values;
        postData.userFormID = @ViewBag.userForm.UserFormID;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create","ResponseUserForms")',
            //data: postData,
            data: {
                ids: postData.ids,
                values: postData.values,
                userFormID: postData.userFormID
            },
            success: function (response) {
                if (response.result == 'Redirect')
                    window.location = response.url;
            },
            dataType: 'json',
            traditional: true,
        });
        postData = {};
    }
</script>