@*@model Schronisko.Models.ResponseUserForm*@
@using Schronisko.Models
@model dynamic

@{
    ViewData["Title"] = "Create";
}

@{
    var userForm = (UserForm)ViewBag.userForm;
    var responseUserForm = (ResponseUserForm)ViewBag.responseUserForm;
}

<h1>Wyniki ankiety.</h1>


<h4>@userForm.Title</h4>
<hr />

<div class="row">
    <div class="col-sm-2 col-md-6 col-lg-12 interspace">

        @foreach (var item in userForm.Questions.OrderBy(q => q.QuestionOrder))
        {
            var responseQuestion = responseUserForm.ResponseQuestions.FirstOrDefault(q => q.UserFormQuestionID == item.UserFormQuestionID);

            <p class="fw-bold">@item.QuestionText</p>

            @if (item.QuestionType.Name == "Tak / Nie" || item.QuestionType.Name == "Tak/Nie" || item.QuestionType.Name == "Wybierz jedną opcją")
            {
                foreach (var option in item.Options.OrderBy(o => o.OptionOrder))
                {
                    string optionChecked = (responseQuestion != null && responseQuestion.ResponseOptions.Any(q => q.Checked && q.UserFormQuestionOptionID == option.UserFormQuestionOptionID))?"checked":"";
                    

                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name=@item.UserFormQuestionID id=@option.UserFormQuestionOptionID @optionChecked disabled />
                        <label class="form-check-label" for=@option.UserFormQuestionOptionID>
                            @option.OptionText
                        </label>
                    </div>
                }
                <br />
            }
            else if (item.QuestionType.Name == "Wybierz wiele opcji")
            {
                foreach (var option in item.Options.OrderBy(o => o.OptionOrder))
                {
                    
                    string optionChecked = (responseQuestion != null && responseQuestion.ResponseOptions.Any(q => q.Checked && q.UserFormQuestionOptionID == option.UserFormQuestionOptionID))?"checked":"";

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="@item.UserFormQuestionID" id=@option.UserFormQuestionOptionID value="@option.OptionText" @optionChecked disabled />
                        <label class="form-check-label" for=@option.UserFormQuestionOptionID>
                            @option.OptionText
                        </label>
                    </div>
                }
                <br />
            }
        }

    </div>
</div>