@model IEnumerable<Schronisko.Models.ResponseUserForm>

@{
    ViewData["Title"] = "Lista wypełnionych ankiet";
}

<h1 class="oswald text-primary">
    Ankiety
</h1>


<table class="table" id="ankiety">
    <thead>
        <tr>
            <th>
                Nazwa ankiety:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @ViewBag.userFormName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                    /
                    @Html.DisplayFor(modelItem => item.TotalPoints)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.AddedDate)
            </td>*@
                <td>
                    <a class="btn-small btn-outline-primary my-1" title="Szczegóły" asp-action="Details" asp-route-id="@item.ResponseUserFormID"><i class="bi-info-circle" aria-label="Szczegóły"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
    {
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.13.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#ankiety').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "Brak danych do wyświetlenia",
                    "info": " Pozycje od _START_ do _END_ z _TOTAL_ rekordów",
                    "infoEmpty": "Pozycji 0 z 0 dostępnych",
                    "infoFiltered": "(filtrowanie z _MAX_ dostępnych pozycji)",
                    "infoPostFix": "",
                    "thousands": " ",
                    "lengthMenu": "Pokaż _MENU_ pozycji",
                    "loadingRecords": "Ładowanie...",
                    "processing": "Przetwarzanie...",
                    "search": "Wyszukaj:",
                    "zeroRecords": "Nie znaleziono danych",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    },
                    "aria": {
                        "sortAscending": ": sortuje kolumnę rosnąco",
                        "sortDescending": ": sortuje kolumnę malejąco"
                    }
                }
            });
        });
    </script>

}