@model Schronisko.Models.ViewModels.HomeDataVM;
@{
    ViewData["Title"] = "Home Page";
}
    <!-- HOME -->
    <section class="home" id="home">
      <div class="home-text">
        <h1>Nie kupuj, Adoptuj<span>Mnie</span>!</h1>
        <h5>
          Wybierz adopcję i daj szansę zwierzakowi na nowe życie pełne miłości
        </h5>
        <a asp-controller="Animals" asp-action="List" class="btn">Adoptuj!</a>
      </div>
      <div class="home-img">
        <img
          src="~/graphic/img/main3.png"
          alt="Obraz autorstwa pikisuperstar na Freepik"
        />
      </div>
    </section>
    <!-- ABOUT US -->
    <section class="about" id="about">
      <div class="about-img">
        <img src="~/graphic/img/main1.png" />
      </div>
      <div class="about-text">
        <h3>O nas</h3>
        <h2>Witaj w schronisku<br />"AdoptujMnie"!</h2>
        <p>
			Jesteśmy pasjonatami zwierząt, którzy postanowili połączyć swoje siły, aby stworzyć miejsce, gdzie każdy bezdomny czworonóg może znaleźć ciepło, bezpieczeństwo i szansę na nowe, kochające domostwo. Nasze schronisko powstało z miłości do zwierząt i pragnienia zmieniania ich losów na lepsze.

			Misją naszego schroniska jest nie tylko zapewnienie tymczasowego schronienia dla bezdomnych zwierząt, ale także promowanie adopcji jako najlepszego rozwiązania dla tych, którzy potrzebują domu. Wierzymy, że każdy zwierzak zasługuje na szansę na szczęśliwe życie u boku kochającej rodziny.

			Nasi pracownicy i wolontariusze angażują się w pełni, aby zapewnić zwierzętom opiekę, leczenie, aktywność i miłość, które są niezbędne do ich dobrej kondycji fizycznej i psychicznej.
			Razem tworzymy przytulne miejsce, gdzie miłość do zwierząt jest wartością nadrzędną.
			Dołącz do naszej rodziny i pomóż nam tworzyć historie szczęścia dla naszych podopiecznych!
			<br />
			<br />
			<br />
			<br />
			<br />
        </p>
      </div>
    </section>
    <!--------Adopcja---->
	<section class="adopcja" id="adopcja">
		<div class="heading">
			<h3>Aktualności</h3>
			<h2>Wszystko o schronisku</h2>
			<p>Najważniejsze aktualności <br>z naszego schroniska</p>
		</div>
		<div class="adopcja-content">
		@foreach (var item in Model.DisplayNews)
        {
			<div class="col">
				<img src="~/graphic/News/@item.Photo">
				<div class="layer">
					<h3>@item.Title</h3>
					<h5>@item.NewsText</h5>
				</div>
			</div>
        }
		</div>
		<center><a asp-controller="News" asp-action="List" class="btn btn-all">Zobacz wszystkie!</a></center>
		@*<div class="adopcja-content">
			<div class="col">
				<img src="~/graphic/img/2.png">
				<div class="layer">
					<h3>Pimpek</h3>
					<h5>Młody pies</h5>
				</div>
			</div>

			<div class="col">
				<img src="~/graphic/img/2.png">
				<div class="layer">
					<h3>Pimpek</h3>
					<h5>Młody pies</h5>
				</div>
			</div>

			<div class="col">
				<img src="~/graphic/img/2.png">
				<div class="layer">
					<h3>Pimpek</h3>
					<h5>Młody pies</h5>
				</div>
			</div>

			<div class="col">
				<img src="~/graphic/img/2.png">
				<div class="layer">
					<h3>Pimpek</h3>
					<h5>Młody pies</h5>
				</div>
			</div>

			<div class="col">
				<img src="~/graphic/img/2.png">
				<div class="layer">
					<h3>Pimpek</h3>
					<h5>Młody pies</h5>
				</div>
			</div>

			<div class="col">
				<img src="~/graphic/img/2.png">
				<div class="layer">
					<h3>Pimpek</h3>
					<h5>Młody pies</h5>
				</div>
			</div>

		</div>*@
	</section>

	<!--------Ogłoszenia---->
	<section class="service" id="service">
		<div class="heading">
			<h3>Ogłoszenia</h3>
			<h2>Zgubiono | Znaleziono</h2>
			<p>Lorem ipsum <br> ....</p>
		</div>
        <div class="service-content">
		@foreach (var item in Model.DisplayAnnouncements)
        {
            <div class="row r">
		    <img src="~/graphic/Announcement/@item.Photo">
			<h3>ZGUBIONO</h3>
			<h5>Data dodania: <span>@item.AddedDate</span></h5>
			<p>@item.AnnouncementText</p>
		    </div>
        }
        </div>
		<center><a asp-controller="Announcements" asp-action="List" class="btn btn-all">Zobacz wszystkie!</a></center>
		@*<div class="service-content">
			<div class="row r">
					<img src="~/graphic/img/4.png">
				<h3>ZGUBIONO</h3>
				<h5>Kiedy: <span>10.12.2023</span></h5>
				<p>Zgubił nam się piesek</p>
			</div>

			<div class="row r">
					<img src="~/graphic/img/4.png">
				<h3>ZGUBIONO</h3>
				<h5>Kiedy: <span>10.12.2023</span></h5>
				<p>Zgubił nam się piesek</p>
			</div>

			<div class="row r">
					<img src="~/graphic/img/4.png">
				<h3>ZGUBIONO</h3>
				<h5>Kiedy: <span>10.12.2023</span></h5>
				<p>Zgubił nam się piesek</p>
			</div>

			<div class="row r">
					<img src="~/graphic/img/4.png">
				<h3>ZGUBIONO</h3>
				<h5>Kiedy: <span>10.12.2023</span></h5>
				<p>Zgubił nam się piesek</p>
			</div>

		</div>*@
	</section>

	<!--------SchroniskoWLiczbach---->
	<section class="cta">
		<div class="heading">
			<h2>Schronisko w <br> liczbach</h2>
		</div>

		<div class="cta-box">
			<div class="wrap one">
				<h3>60+</h3>
				<p>Zaadoptowanych zwierząt</p>
			</div>

			<div class="wrap two">
				<h3>40+</h3>
				<p>Odnalezionych zwierząt</p>
			</div>

			<div class="wrap three">
				<h3>130+</h3>
				<p>Zwierząt do adopcji</p>
			</div>

		</div>
	</section>

	<!--------Kontakt---->
	<section class="contact" id="contact">
		<div class="container">
			<div class="center">
			<h3>Skontaktuj się z nami</h3>
			<div class="my-3 pt-3 col-6 col-md-12">
				<p class="text-light"><i class="bi-geo-fill"></i> Płock, al. Kilińskiego 12</p>
				<p class="text-light"><i class="bi-telephone-fill"></i> +48 24 366 41 00</p>
				<p class="text-light"><i class="bi-envelope-fill"></i> schronisko@adoptujmnie.pl</p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155288.34384827103!2d19.4271085328125!3d52.5446442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471c7090b9c877d9%3A0x2d43661b0a4753e!2zU1pLT8WBQSBXWcW7U1pBIElNLiBQQVfFgUEgV8WBT0RLT1dJQ0EgVyBQxYFPQ0tV!5e0!3m2!1spl!2spl!4v1673302346423!5m2!1spl!2spl" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
				<p>Wyślij maila</p>
			</div>

			<div class="action">
				<form>
					<input type="email" name="email" placeholder="Enter Your email" required>
					<input type="submit" name="submit" value="Submit">
				</form>
			</div>
		</div>
	</section>

@*    <!-- Ogłoszenia -->

        <div center class="text-center"><br /><h3>Ważne ogłoszenia<i class="bi bi-exclamation-lg"></i></h3></div>
        <div class="row text-center">
        @foreach (var item in Model.DisplayAnnouncements)
        {
          <div class="col-12 col-md-6 col-lg-4">
          <div class="card-group">
          <div class="card">
            <img src="~/graphic/Announcement/@item.Photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" class="text-center">@item.Title</h5>
                        <p class="card-text">@item.AnnouncementText</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">@item.Type, @item.AddedDate</small>
            </div>
          </div>
          </div>
          </div>
        }
        </div>

    <!-- Aktualności -->
    <div center class="text-center"><br /></><h3>Aktualności <i class="bi bi-megaphone"></i> </h3></div>
    <div class="row text-center">
    @foreach (var item in Model.DisplayNews)
    {
      <div class="col-12 col-md-6 col-lg-4">
      <div class="card-group">
      <div class="card">
        <img src="~/graphic/News/@item.Photo" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" class="text-center">@item.Title</h5>
                    <p class="card-text">@item.NewsText</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      </div>
      </div>
    }
     </div>
     <br />
     <br />


  @*<div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>*@


@*    <div class="row pt-5 pb-5 bg-back">
        <section class="col-12 col-md-4">
            <div class="row ms-3">
                <div class="ps-5 my-3 col-6 col-md-12">
                    <img src="~/graphic/logo.png" width="120" alt="Logo" class="rounded-circle" />
                </div>
                <div class="my-3 pt-3 col-6 col-md-12">
                    <p class="text-light"><i class="bi-geo-fill"></i> Płock, al. Kilińskiego 12</p>
                    <p class="text-light"><i class="bi-telephone-fill"></i> +48 24 366 41 00</p>
                    <p class="text-light"><i class="bi-envelope-fill"></i> schronisko@adoptujmnie.pl</p>
                </div>
            </div>
        </section>
        <section class="col-12 col-md-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155288.34384827103!2d19.4271085328125!3d52.5446442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471c7090b9c877d9%3A0x2d43661b0a4753e!2zU1pLT8WBQSBXWcW7U1pBIElNLiBQQVfFgUEgV8WBT0RLT1dJQ0EgVyBQxYFPQ0tV!5e0!3m2!1spl!2spl!4v1673302346423!5m2!1spl!2spl" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </div>*@
