@model NewsViewModel

@{
    ViewData["Title"] = "Lista aktualności";
}

<h1>Aktualności</h1>
<div class="container">
    <div class="row">

        <!-- Wyszukiwarka -->
        <div class="d-none d-md-block col-md-12 col-xl-3">
            <div class="card mt-2 shadow-sm ">
                <div class="card-body">
                    @using (Html.BeginForm("List", "News", new { PageNumber = "1" }, FormMethod.Get))
                    {
                        <div class="row gt-3">                            

                            <div class="form-group col-auto">
                                <label for="Phrase">Fragment tekstu:</label>
                                <input type="text" class="form-control" id="Phrase" name="Phrase" placeholder="Szukany ciąg" value="@Model.NewsView?.Phrase">
                            </div>

                            <button type="submit" class="btn btn-primary mt-4 col-auto">Filtruj</button>

                        </div>
                    }
                </div>
            </div>
        </div>

        <!-- Lista aktualnosci -->
        <div class="col-xl-9">
            <!-- pętla -->
            @foreach (var item in Model.News)
            {
                <div class="card mt-2">
                    <div class="card-header">
                        <h4 class="text-primary oswald">@item.Title</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/graphic/News/@item.Photo" class="img-fluid" alt="..." />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-success">@item.Id</h5>
                                <p class="card-text fst-italic">@item.NewsText</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Opublikowano: @item.AddedDate
                                    </small>
                                </p>
                                <div class="position-relative">
                                    <a href="@Url.Action("Details", "News", new{id = item.NewsID})" class="btn btn-outline-primary position-absolute bottom-0 end-0">Czytaj >>></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>

    </div>
</div>