@model IEnumerable<Schronisko.Models.UserFormQuestionOption>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserFormQuestionOptionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserFormQuestionOptionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserFormQuestionOptionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
