@model Schronisko.Models.UserFormQuestion

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-primary oswald">Dodaj pytanie</h1>

@{
    if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert"> @ViewBag.ErrorMessage </div>
    }
}

<h4 class="text-success"><b>Pytanie</b></h4>
<hr />
<div class="row">
    <div class="col-md-4 interspace">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserFormID" value="@ViewBag.UserFormID" />
            <div class="form-group">
                <label asp-for="QuestionOrder" class="control-label"></label>
                <input asp-for="QuestionOrder" class="form-control" value="@ViewBag.QuestionOrder" />
                <span asp-validation-for="QuestionOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <textarea asp-for="QuestionText" class="form-control"></textarea>
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserFormQuestionTypeID" class="control-label"></label>
                <select asp-for="UserFormQuestionTypeID" class="form-control" asp-items="ViewBag.UserFormQuestionTypeID">
                    <option value="">--- Wybierz typ pytania ---</option>
                </select>
            </div>
@*            <div class="form-groupform-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>*@
            @*<div class="form-group">
                <label asp-for="AddedDate" class="control-label"></label>
                <input asp-for="AddedDate" class="form-control" />
                <span asp-validation-for="AddedDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
                <a asp-controller="UserForms" asp-action="Edit" asp-route-id="@ViewBag.UserFormID" class="btn btn-light"> Powrót do ankiety </a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


