@model Schronisko.Models.AdoptionForm

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AdoptionForm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer12)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer12)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer14)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer14)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer15)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer15)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer16)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer16)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer17)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer17)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer18)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer18)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer19)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer19)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer20)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer20)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer21)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer21)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer22)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer22)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer23)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer23)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer24)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer24)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FormId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
