@model IEnumerable<Schronisko.Models.AdoptionForm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnimalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer17)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer19)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer21)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer22)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer24)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer24)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FormId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FormId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FormId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
